#todo.card.bg-base-100.shadow-xl
  .card-body
    h1.text-3xl.font-bold.text-center.mb-4 TODO

    // Header with Add Input
    .flex.items-center.gap-3
      input(
        id="toggle-all"
        type="checkbox"
        class="checkbox checkbox-primary"
        data-on-click__prevent="@post('toggle/-1')"
      )
      if edit >= 0 
        input(
          id="new-todo"
          class="input input-bordered w-full"
          type="text"
          placeholder="What needs to be done?"
        )
      else
        .tooltip.tooltip-right.w-full(data-tip="Press Enter to create")
          input(
            id="new-todo"
            class="input input-bordered w-full"
            type="text"
            placeholder="What needs to be done?"
            data-signals-input=""
            data-bind="input"
            data-on-keydown="evt.key === 'Enter' && $input.trim() && @patch('update/-1') && ($input = '');"
          )
    // Todo List
    ul#todo-list.divide-y.divide-base-300.mt-4
    each todo, index in todos || []
      li.flex.items-center.gap-2.py-2.tooltip.tooltip-right(data-tip="Double click to edit")
        if edit === index
          include ./todo-item-edit
        else
          include ./todo-item-view

    // Footer Actions
    .flex.items-center.justify-between.mt-4
      span.text-sm
        strong #{pendingCount || 0}
        |  items pending
      .flex.gap-2(data-signals-mode="0")
        button.btn.btn-sm(data-class-btn-info="$mode===0" data-on-click="@put('mode/0')") All
        button.btn.btn-sm(data-class-btn-info="$mode===1" data-on-click="@put('mode/1')") Pending
        button.btn.btn-sm(data-class-btn-info="$mode===2" data-on-click="@put('mode/2')") Completed