ul#todo-list.divide-y.divide-base-300.mt-4
  each todo, index in todos
    li.flex.items-center.justify-between.py-2(
      data-on-dblclick=`evt.target === el && @get('todo/${index}')`
    )
      .flex.items-center.gap-2
        input(
          type="checkbox" 
          class="checkbox checkbox-primary" 
          data-on-load=`el.checked = ${todo.completed}`
          data-on-click__prevent=`@post('toggle/${index}')`
        )
        span= todo.title
      button.btn.btn-xs.btn-error(
        data-on-click=`@delete("/todo/${index}")`
      ) Delete